$primary: #d20804;
$secondary: rgba(255, 255, 255, 0.877);
$color-secondary: #2b303a;

$color-white: #fff;
$color-black: #000;
$color-light-grey: #f7f8fc;
$color-mid-grey: #eaeaea;
$color-dark-grey: #a4a4a4;
$color-silver: rgba(255, 255, 255, 0.726);

$navbar-light-color: #212529;
