
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/utilities";
@import "base/base";
@import "base/typography";

@import "components/feature-card";
@import "components/testimonial";
@import "components/form";
@import "components/contact";
@import "components/social-links";


@import "layout/header";
@import "layout/home";
@import "layout/navigation";
@import "layout/footer";

@import "node_modules/bootstrap/scss/bootstrap";













/*MOBILE NAV-----------------------------------------------------------------------------*/










/*STICKY NAV----------------------------------------------------------------------------*/













































   


    

























#map {
    width: 100%;
    height: 400px;
  }















