.hero {
    background-image: linear-gradient(103deg,
        rgba($color-secondary, .9999) 35%,
        rgba($color-secondary, 0.8) 60%,
        transparent 100%),url(img/driving-schools-ashford-hero.jpg);
    height: 89vh;
    position: relative;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 0% 100%);

        

    &__text-box {
        margin-left: 2.5rem;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        
        
    }

    &__text-box h1 {
        font-size: 450%;

        @include respond(phone) {
            font-size: 525%;
        }
    }
}