.hero {
    background-image: linear-gradient(103deg,
        rgba($color-secondary, .9999) 35%,
        rgba($color-secondary, 0.8) 70%,
        transparent 100%),url(img/driving-schools-ashford-hero-min.jpg);
        clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
        height: 85vh;
        position: relative;
        background-size: cover;
        background-position: center;
    

       


        @include respond(tab-port) {
            background-image: linear-gradient(103deg,
            rgba($color-secondary, .9999) 35%,
            rgba($color-secondary, 0.8) 60%,
            transparent 100%),url(img/driving-schools-ashford-hero-min.jpg);
            clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 0% 100%);
        }

        &--intensive {
            background-image: linear-gradient(103deg,
            rgba($color-secondary, .9999) 35%,
            rgba($color-secondary, 0.8) 70%,
            transparent 100%),url(img/road-min.jpg);
            clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
            height: 85vh;
            position: relative;
            background-size: cover;
            background-position: center;

            @include respond(tab-port) {
                background-image: linear-gradient(103deg,
                rgba($color-secondary, .9999) 35%,
                rgba($color-secondary, 0.8) 70%,
                transparent 100%),url(img/road-min.jpg);
                clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 0% 100%);
            }

        }

        &--book {
            background-image: linear-gradient(103deg,
            rgba($color-secondary, .9999) 35%,
            rgba($color-secondary, 0.8) 70%,
            transparent 100%),url(img/fiesta-min.jpg);
            clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
            height: 85vh;
            position: relative;
            background-size: cover;
            background-position: center;

            @include respond(tab-port) {
                background-image: linear-gradient(103deg,
                rgba($color-secondary, .9999) 35%,
                rgba($color-secondary, 0.8) 70%,
                transparent 100%),url(img/fiesta-min.jpg);
                clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 0% 100%);
            }
        }

        

        

    &__text-box {
        
        top:7%;
        color:$color-white;
        position: absolute;
        margin: 0 auto;
        padding: 1rem;
        
        
        
        @include respond(tab-port) {
            text-align:left;
            margin-left: 2rem;
            padding-top:5%;
            position: relative;
            max-width: 85%;
        }

        @include respond(desktop) {
            max-width: 60%;
            position: absolute;
            margin: 2rem;
            top: 35%;
            transform: translateY(-50%);
        }
    }

    &__text-box h1 {
        font-size: 275%;

        @include respond(phone) {
            font-size: 400%;
        }
    
        @include respond(tab-port) {
            font-size: 400%;
        }
    }

    &__sub-heading {
        font-weight: 300;
        font-size: 125%;
        margin: 1rem 0;
    }

    &__list {
        margin:2rem 0;
        margin-left:1.5rem;
        
    }

    
}

.small-btn {
    display:none;
    opacity: 0;
    visibility: hidden;
    
    @include respond(tab-port) {
        display: block;
        opacity: 1;
        visibility: visible;
        margin-top: -4rem;
    }
}

.large-btn {
    display:block;
    margin-top: 2rem;

    @include respond(tab-port) {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}