.accordion {
    background-color: $color-white;
    margin: 1rem 0 0 0;
    border-radius: .3rem .3rem 0 0;
    box-shadow: 0 2px 2px 0 rgba(63, 49, 49, 0.1);
    cursor: pointer;
    padding: 1.1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: $primary;
    font-size: 100%;

    &:hover {
        background-color: $color-light-grey; 
      }

    &__panel {
        padding: 1rem;
        display: none;
        background-color: $color-light-grey;
        overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(63, 49, 49, 0.1);
        
      }
}

.active {
    background-color: $color-light-grey; 
}

button.accordion::after {
    content: '\002B';
    color: $primary;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


