.features-card {
    top: 0;
    left: 0;
    text-align: center;
    width:100%;
    border-radius: 3px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    overflow: hidden;
    height: auto;
    margin-bottom: 1rem;

    @include respond(tab-port) {
        height: 35rem;
    }

    @include respond(tab-land) {
        height: 32rem;
    }

    @include respond(desktop) {
        height: 31rem;
    }

    &__img {
        width: 100%;
        height: 15rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

        @include respond(tab-port) {
            height: 15rem;
        }
    }

    &__heading {
        margin-top: 2.8rem;
    }
    
    &__text-box {
        height: 7rem;
        padding: 0.75rem 1.25rem;
        border-top: solid 2px $color-white;
        background-color: $color-light-grey;
        margin-top:-3rem;
        
        @include respond(tab-port) {
            border-top:none;
        }
    }

    &__para-box {
        padding:.5rem;
        

        @include respond(tab-port) {
            padding: .1rem;
        }
    }

    
}
