.form {
    background-color: $color-white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(63, 49, 49, 0.1);
    top:-4.5rem;
    left:0;
    width: 100;
    left: 0;
    z-index: 99;
    margin-bottom: 2rem;

    @include respond(phone) {
        padding: 3rem;
        width: 90%;
        
    }

    @include respond(tab-port) {
        width:100%;
        padding:1.5rem;
    }

    @include respond(desktop) {
        width:90%;
    }


}

.sub-input{
    border-radius: .3rem 0rem 0rem .3rem;
    width: 70%;
    height: calc(1.5em + 1rem + 2px);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    z-index:999;
}

.form-button {
    border: 2px solid $primary;
    background-color: $primary;
    border-radius: 0rem .3rem .3rem 0rem;
}



