.para-side-picture {
    position: relative;

    &__text-box{
        margin-bottom: 2rem;
        position: relative;
       

        @include respond(tab-port) {
            padding: 3rem 0;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-0%, -50%);
        }

        }

    &__sub-heading{

    }

    &__image-box{
        width: 2rem;
        padding: 5rem 0;
    }

    &__image{
        width: 20rem;

        @include respond(tab-port) {
            width: 20rem;
            margin: 0 5rem 0 5rem;
        }
    }
}