.survey-signup {
    width: 50%;
    margin: 5rem auto;
}

.input-btn {
    margin-right:1rem;
}



.question-box {
    
    width: 50%;
    margin: 5rem auto;
    
    
    &__question{
        margin-bottom: 1rem;
        
    }

    &__progress-bar{
        display:flex;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
    }

    &__step{
        text-align: center;
        

    }

    &__bullet {
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        border: 2px solid $color-mid-grey;
        line-height: 1.75rem;
        color: $color-dark-grey;
        display: inline-block;
        position: relative;
        transition: background-color 500ms;
        

    }

    &__line::after{
        content: '';
        position: absolute;
        width:3rem;
        height:.1rem;
        background-color: $color-mid-grey;
        bottom: 1rem;
        margin-left:.3rem;
        
       
    }

    &__bullet.completed {
        color: $color-white;
        background-color: $primary;
        border: 2px solid $primary;
        z-index: 888;
    }

    &__bullet.completed::after {
        content: '';
        position: absolute;
        width:3rem;
        height:.1rem;
        background-color: $primary;
        bottom: 1rem;
        right:-3.3rem;
        z-index:999;
    }

    &__bullet.last{
        color: $color-white;
        background-color: $primary;
        
    }

    &__container {
        
        .input-btn {
            margin-right:1rem;
        }

        &__container:last-child {
            margin-bottom: 2rem;
        }  

        background-color: $color-light-grey;
        border-radius: .2rem;
        padding:1rem;
        margin-bottom:1rem;
    }

    
    
    
    
}