.testomonials-box {
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    padding: .5rem;
    border-radius: 3px;
    margin-bottom: 5rem;
    height:auto;
    vertical-align: middle;
    

    @include respond(tab-land) {
        width: 75%;
        padding: 1.5rem;
        vertical-align: middle;
        transform: skewX(-10deg);
    }

    &__name {
        text-align:right;
        

        @include respond(tab-land) {
            text-align: left;
            margin-left: 11rem;
        }
    }

    &__picture  {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        margin-right: .3rem;
        float: left;
        shape-outside: circle();
        margin: 1rem 1rem 1rem 0;
        
        
        @include respond(tab-land) {
            vertical-align: middle;
            transform: skewX(10deg);
        }
    }

    &__blockquote {
        line-height: 145%;
        text-align: left;
        margin-left: 1rem;
        
        

        @include respond(tab-land) {
            margin-left: 10rem;
            transform: skewX(10deg);
        }
    }
   
}

.testomonials-box:first-child {
    margin-top: 2rem;
}

