*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 90%; /*root font size. Default font size of browser is 16px. Always select in percentage so if user changes browser default it scales. So 10/16 = 62.5%. Easier to set 10px then 1 rem would = 10px.*/
    scroll-behavior: auto;
/*@include respond(phone) { Dont this query as it also applies for the tab-port as below 900px
    font-size: 50%; 
}*/ 

@include respond(phone) {
    font-size: 100%; //1rem =8px, 8/16 =50%
}

@include respond(tab-port) {
    font-size: 100%; //1rem =8px, 8/16 =50%
}

@include respond(tab-land) { 
    font-size: 100%;
}


@include respond(big-desktop) {
    font-size: 100%; 
}

}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

section {padding-top: 5rem;
}