h1 {
    color:$color-white;
}

h2:after {
    display: block;
    position: relative;
    height: 2px;
    background-color: $primary;
    content: " ";
    width: 6.25rem;
    margin: 0 auto;
    margin-top: 30px;
    z-index:999;
}

.icon-big {
    font-size: 700%;
    color: #2b303A;
}

.icon-small {
    float:left;
    color: $primary;
    font-size: 200%;
    /*line up icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top:-5px; 
    margin-right: 1rem;
}

.text-background{
    background-color: $color-secondary;
    color: $color-white;
    padding: .2rem .5rem;
}

.custom {
    padding-bottom: .4rem;
    transition: border-bottom .3s ease-in;
}

.custom:hover {
    text-decoration: none;
    border-bottom: 2px solid $primary;
}

.custom-nav {
    padding: 0.5rem, 3.2rem;
}

    
