h1 {
    color:$color-white;
}

h2:after {
    display: block;
    position: relative;
    height: 2px;
    background-color: $primary;
    content: " ";
    width: 6.25rem;
    margin: 0 auto;
    margin-top: 30px;
    z-index:999;
}

.icon-big {
    font-size: 700%;
    color: #2b303A;
}

.icon-small {
    float:left;
    color: $primary;
    font-size: 200%;
    /*line up icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top:-5px; 
    margin-right: 1rem;

    &--silver{
        color: $color-silver;
        float:left;
        font-size: 200%;
        /*line up icons*/
        line-height: 120%;
        vertical-align: middle;
        margin-top:-5px; 
        margin-right: 1rem;
    }
}

.text-background{
    background-color: $color-secondary;
    color: $color-white;
    padding: .2rem .5rem;
}

.custom {
    padding-bottom: .4rem;
    transition: border-bottom .3s ease-in;
}

.custom:hover {
    text-decoration: none;
    border-bottom: 2px solid $primary;
}

.custom-nav {
    padding: 0.5rem, 3.2rem;
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.text-button {
    position: relative;
    display: inline-block;
    color: #212529;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 0 .5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease-out;


    &__icon{
        font-size: .9rem;
        margin-left: .1rem;
        font-weight: 700;
        transition: all .2s ease-out;
       
    }

    &:hover {
        text-decoration: none;
        transform: translateX(2px);
        color:#212529
    
    }

    &:hover > &__icon {
        
        color: $primary;
       
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $primary;
        width: 2.6rem;
        height: .2rem

    }
}

