.u-center-text {text-align: center !important; }

.u-margin-bottom-form {margin-bottom: 17px !important}

.sub-heading {margin-top: 2rem; text-align: center !important;}

.no-padding-top {padding-top: 0 !important;}

.hidden {display: "none" !important;}

.u-margin-bottom {margin-bottom: 5rem !important;}

.skew-correction {transform: skewY(3deg) !important;}


