.welcome {
    padding-top: 1rem;
    
    @include respond(tab-port) {
        padding-top: 5rem;
    }
}


.our-courses {
    position: relative;
    background-color: $color-light-grey;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
}
    
.testomonials {
    padding-top:0;

    &__heading {
        padding-top: 5rem;
    }


    &__background {
    width: 100%;
    background-image: url(img/car-overlay.jpg);
    top:0;
    left:0;
    background-size: cover;
    text-align: center;
    padding-bottom: 3.5rem;
    transition: all ease-out;
    }
}

.why-us {
    text-align: center;
    background-image: linear-gradient(180deg,
        rgba($color-secondary, 0.9) 0%,
        rgba($color-secondary, 0.9) 67%,
        transparent 65%);
    position: relative;
    display:block;
    
    
    
    @include respond(tab-land) {
        text-align: center;
        background-image: linear-gradient(130deg,
        rgba($color-secondary, 0.9) 0%,
        rgba($color-secondary, 0.9) 52.9%,
        transparent 53%);
        position: relative;
    }

    &__icon-container {
        text-align: center;
        width:100%;
        margin: 4rem 2rem;
        

        @include respond(tab-land) {
            margin: 4rem 0;
            width:100%;
        }
    }

    &__icon-para {
        text-align: left;
        margin-left: 40px;
        margin-bottom: 1.75rem;
        color: $color-silver; 
    }


    &__icon-para:last-child {
        padding-bottom: 5rem;
    }

    &__img {
        position: relative;
        width:auto;
        height: 20rem;
        margin-top: 4rem;
    
        
        @include respond(tab-land) {
            border-radius: 13rem 0 0 0;
            position: absolute;
            bottom:0;
            right:0;
            height:auto;
        }
    }

    &__heading {
        color: $color-silver;
    }
}

.pricing {
    background-color: $color-light-grey;
    margin-bottom: 5rem;
}

#map {
    height:20rem;
    background-color: $color-white;
}

.contact-us {
    position: relative;
    background-color: $color-white;
}

.section-contact-us__diagonal {
    background-color: #f7f8fc;
    top:20rem;
    left:0;
    height:57rem;
    position: absolute;
    width: 100%;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
}