.intensive-courses {
    background-color: $color-light-grey;
    position: relative;
    clip-path: polygon(0% 11%, 99% 0%, 100% 99%, 1% 100%);

    &__how {
        margin-top: 6rem;
    }

    &__heading {
        margin-bottom:5rem; 
    } 

    

    &__img {
        border-radius: 10rem 0rem 0rem 10rem;
        position: absolute;
        margin: 50% 0;
        overflow: hidden;
        right:-15rem;
       

    }

}